@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <form id="chat">
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary" value="Send">Send</button>
        </form>
    </div>
    <div class="col">
        <ul id="messages"></ul>
    </div>
</div>

<script src="~/js/signalr-client.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let http = new signalR.HttpConnection(document.location.protocol + '//' + document.location.host + '/chat');
        let connection = new signalR.HubConnection(http);
        connection.on('send', data => {
            let child = document.createElement('li');
            child.innerText = data;
            document.getElementById('messages').appendChild(child);
        });
        document.getElementById('chat').addEventListener('submit', event => {
            let data = document.getElementById('message').value;
            connection.invoke('send', data);
            event.preventDefault();
        });
        connection.start();
    });
</script>